<div class="text-place">
<div class="cadre">

<h1>Admistration </h1>
<div class="place-info">
<p class="text-info"> Bienvenue au service administratif de Chère de Prince. Ici, c'est simple, pas besoin du laissez-passer A-38. </p>
</div>

<div class="btn-space">
<a href="/user/new" class="btn btn-green"> Inscris-toi ! </a>
</div>
</div>
</div>
