<div class="text-place">
  <div class="cadre">
    <h1>Identifie toi</h1>
    <% if(flash && flash.err) {%>
      <ul class="place-info">
	<% flash.err.forEach( function(error){%>
	  <li>
            <%= error.message %>
	</li>
      </ul>
	<%})%>
    <% }%>
    <p>
      <form action="/session/create/" method="POST" class="form">
        <input name="name" placeholder="Nom" class="form-entry" autofocus />
        <input type="password" name="password" placeholder="Mot de passe"  class="form-entry"/>
        <div class="btn-space">
          <input type="submit" class="btn btn-green" value="Connection"/>
        </div>
	<input type="hidden" name="_csrf" value="<%= _csrf%>"/>
      </form>
  </div>
</div>
