<!-- Begin .header -->
<header class="header cf" role="banner">
  {{>molecules-site-name}}
  <div class="logo-lead-in">
    <div>
      {{> atoms-logo }}
      <div class="lead-in-container">
	{{>molecules-lead-in}}
	<div class="stroke sprite-icon">
	  </div>
      </div>
    </div>
  </div>
  {{> molecules-primary-nav }}

</header>
<!-- End .header -->
