<div class="text-place">
  <div class="cadre">
    <h1> <%= user.name %> </h1>
    <div class="place-info">
      <p class="text-info">
        email : <%= user.email %> <br/>
      </p>      
      <div class="btn-space">
	<a href="/user/edit/<%= user.id %>" class="btn btn-green"> Éditer </a>
      </div>
    </div>
  </div>
</div>
