<div class="page">
  <div role="main" >
    <div class="l-one-col">
      <div class="l-main">
	<article class="article">
	  <header class="article-header">
	    <h1 itemprop="headline">Une vie de Bécasse</h1>
	  </header>
	  <div class="b-border">
	    <div class="text block" itemprop="text">
	      <p class="intro" itemprop="description">
		  Cliqueur, cliqueuse de tout horizon sois bienvenu·e sur Chère de Prince ! Je publie ici une miriade d'articles en tout genre. D'abord, pour mener à bien une enquête mathématique, j'accroche régulièrement à un graphe des énoncés à son sujet. J'ai espoir de percer à jour certains de ses secrets. Et puis, je raconte mes folles aventures de bécasse vagabonde, que j'accompagne de dessins. De même tout ce qui est susceptible de m'intéresser tel que l'informatique, la politique, les étoiles, les vilains chasseurs et j'en passe peut finir sur mon blog.
	      </p>
	    </div>
	  </div>
	</article>
      </div>
    </div>
  </div>
</div>
