<ul class="sg-colors">
  <!--	<li>
	<span class="sg-swatch" style="background: #ff0000;"></span>
	<span class="sg-label">#ff0000</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00ff00;"></span>
    <span class="sg-label">#00ff00</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #0000ff;"></span>
    <span class="sg-label">#0000ff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffff00;"></span>
    <span class="sg-label">#ffff00</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00ffff;"></span>
    <span class="sg-label">#00ffff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ff00ff;"></span>
    <span class="sg-label">#ff00ff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">#ffffff</span>
  </li>-->
  <li>
    <span class="sg-swatch" style="background: #474747;"></span>
    <span class="sg-label">gray</span>
    <span class="sg-label">#474747</span>

  </li>
  <li>
    <span class="sg-swatch" style="background: #1F1F1F;"></span>
    <span class="sg-label">gray-dark</span>
    <span class="sg-label">#1F1F1F</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F36B67;"></span>
    <span class="sg-label">red-light-2</span>
    <span class="sg-label">#B81F1B</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #D73F3B;"></span>
    <span class="sg-label">red-light</span>
    <span class="sg-label">#B81F1B</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #B81F1B;"></span>
    <span class="sg-label">red</span>
    <span class="sg-label">#B81F1B</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #970A06;"></span>
    <span class="sg-label">red-dark</span>
    <span class="sg-label">#970A06</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6D0300;"></span>
    <span class="sg-label">red-dark-2</span>
    <span class="sg-label">#B81F1B</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #116B6F;"></span>
    <span class="sg-label">blue</span>
    <span class="sg-label">#116B6F</span>
  </li>
<li>
  <span class="sg-swatch" style="background: #79AB1A;"></span>
		<span class="sg-label">green</span>
		<span class="sg-label">#79AB1A</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">#000000</span>
  </li>
</ul>
