<p>Primary font: "Playfair Display",Georgia, Times, "Times New Roman", serif;</p>
<p><em>Primary font italic: "Playfair Display",Georgia, Times, "Times New Roman", serif;</em></p>
<p><strong>Primary font bold: "Playfair Display",Georgia, Times, "Times New Roman", serif;</strong></p>
<p class="font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</p>
<p class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: Georgia, Times, "Times New Roman", serif;</strong></p>

<p class="font-title">Text title: ‘Arial Black’, Gadget,"Ubuntu Mono Bold","Lato Black", sans-serif;</p>
<p class="font-title"><strong>Text title bold: ‘Arial Black’, Gadget,"Ubuntu Mono Bold","Lato Black", sans-serif;</strong></p>
<p class="font-title"><em>Text title italic: ‘Arial Black’, Gadget,"Ubuntu Mono Bold","Lato Black" ,sans-serif;</em></p>
