<section class="section related-posts b-border">
  <div class="block">
    <h3 class="section-title">À un battement d'aile de cette page</h3>
    <ul class="">
      <li>
	<a href="#">
	  {{>atoms-sticker}}
	  <h4>{{ headline.short }}</h4>
	</a>
      </li>
      <li>
	<a href="#">
	  {{>atoms-sticker}}
	  <h4>{{ headline.short }}</h4>
	</a>
      </li>
      <li>
	<a href="#">
	  {{>atoms-sticker}}
	  <h4>{{ headline.short }}</h4>
	</a>
      </li>
    </ul>
  </div>
</section>
