<div class="section categories">
  <h2 class="section-title">Les catégories</h2>
    <ul class="categories-section">
      <li>
	{{>molecules-block-category}}
      </li>
      <li>
	{{>molecules-block-category}}
      </li>
      <li>
	{{>molecules-block-category}}
      </li>
      <li>
	{{>molecules-block-category}}
      </li>
      <li>
	{{>molecules-block-category}}
      </li>
      <li>
	{{>molecules-block-category}}
      </li>
    </ul>
</div>
