<section class="section a-propos post-it">
    <h3 class="section-title">À propos</h3>
    {{> atoms-a-propos-picture}}
    <p>
      Yop. Je m'appelle la Bécasse. Oui, j'ai pas trouvé mieux pour que l'on comprenne ma situation : un bec, des plumes, des griffes. Étant en plus bavarde, j'espère ne pas paraître bécasse. Mais je porte d'autres casquettes : mathématicienne la semaine, web-desingneuse du dimanche, chaque jour vagabondeuse sur le web et au travers du monde. 
    </p>
</section>
