<!-- la taille de la police des tags et calculer en fonction de leur utilisation. Taille entre .8 et 2.5 em-->
<ul class="tags-list inline-list">
  <li>
    <a href="#" style="font-size:2.5em">
      montagne
    </a>
  </li>
  <li>
    <a href="#" style="font-size:1em">
      mer
    </a>
  </li>
  <li>
    <a href="#" style="font-size:3em">
      mathématiques
    </a>
  </li>
  <li>
    <a href="#" style="font-size:1.4em">
      ciel
    </a>
  </li>
  <li>
    <a href="#" style="font-size:2.1em">
      cinéma
    </a>
  </li>
  <li>
    <a href="#" style="font-size:1.1em">
      nature
    </a>
  </li>
</ul>
