<footer class="footer" role="contentinfo">
  <p>
    Ce site est fait avec amour à la force de mes petites ailes.
  </p>
  <p>
    Un grand merci à <a href="http://sailsjs.org/">Sails.js</a>.
  </p>
  <p>
    Le contenu de ce site est sous <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">licence BY-NC-SA</a>.
  </p>
</footer>

