<!-- Begin .header -->
<header class="header header-large cf" role="banner">
  <span class="site-name">Chère de Prince</span>  <div class="logo-lead-in">
    <div>
      <a href="/">
	<picture class="logo">
	  <source type="image/svg+xml" srcset="/images/global/logo.svg">
	    <img src="/images/global/logo.png" alt="Chère de Prince, le site officiel de la Bécasse">
	</picture>
      </a>
      <%if(typeof leadInPage !== 'undefined'){%>
      <div class="lead-in-container">
	<p class="lead-in text">
	  <%-leadInPage.contentHTML%>
	</p>
	<div class="stroke sprite-icon">
	</div>
      </div>
      <%}%>
    </div>
  </div>
  <nav id="nav" class="nav">
    <ul class="nav-list inline-list">
      <li><a href="/" class="active">Math</a></li>
    </ul>
  </nav><!--end .nav-->

</header>
<!-- End .header -->
