<p><a href="#" class="btn">Button</a></p>
<p><input type="submit" class="btn" value="Submit Button" ></p>
<p><button class="btn">HTML Button</button></p>
<p><a href="#" class="btn danger">Danger Button</a></p>
<p><a href="#" class="btn sucess">Sucess Button</a></p>
<p><a href="#" class="btn alt disabled">Alternative Button</a></p>
<p><a href="#" class="btn disabled">Disabled Button</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>
