<%- partial('../templates/one-col-head',{title: "Je crée un article"}) %>
<% include ../templates/info-block %>
<div class="edit-entry">
  <div class="entry">
    <form action="/blog/create" method="POST" class="form">
      	<label for="title">Titre</label>
	<input name="title" placeholder="Titre" class="form-entry"  data-entry="URI" />
	<label for="name">URL</label>
        <input name="name" placeholder="Nom" class="form-entry"  data-output="URI" data-entry-name="title"/>
	<%- partial('templates/category-form',{}) %>
      <div class="btn-space">
        <input type="submit" class="btn sucess" value="Créer"/>
      </div>
      <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
    </form>
  </div>
</div>
<%include ../templates/one-col-foot %>
