<%- partial('../templates/one-col-head',{title: "J'upload une "+args.title}) %>

<% include ../templates/info-block %>

<form action="/blog/<%= args.uploadCtrl%>" method="POST" class="form">
  
  <input type="hidden"  name="id" value="/<%=args.artId%>"/>
  <%if(args.name){%>
    <label for"name">Nom</label>
    <input name="name" placeholder="Nom simple"  class="form-entry"/>
  <%}%>
  <label for="alt">Description</label>
  <input name="alt" placeholder="Texte alternatif"  class="form-entry"/>
  <label for="image">Fichier</label>	
  <input type="file" name="image" class="form-entry"/>
  <div class="btn-space">
    <input type="submit"  formenctype="multipart/form-data"  class="btn sucess" value="Uploader" />
  </div>
</form>
<%include ../templates/one-col-foot %>
