<nav id="nav" class="nav">
	<ul class="nav-list inline-list">
		<li><a href="{{ url }}">Accueil</a></li>
		<li><a href="{{ url }}">Math</a></li>
		<li><a href="{{ url }}" class="active">Blog</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
