<a href="{{ url }}">
<picture class="logo">
    <source type="image/svg+xml" srcset="../../images/logo.svg">
    <img src="../../images/logo.png" alt="Chère de Prince, le site officiel de la Bécasse">
</picture>
</a>
