<a href="../../images/fpo_16x9.png">
<picture>
  <source media="(min-width: 29.75em)" srcset="../../images/fpo_16x9_medium.png">
  <img srcset="../../images/fpo_16x9_small.png" alt="Figure">
</picture>
</a>
